.profile-but {
  margin-top: 21px;
  float: right;
}

.item-details {
  display: inline-block;
  margin: 70px;
}

#thumbnail-image {
  height: 260px;
  width: 200px;

}

.input-bar {
  margin-top: 10px;
  height: 50px;
  width: 700px;
}

.input-type-box {
  margin-top: 10px;
  width: 400px;
}

.display-items {
  
}

.header {
  height: 100px;	
}

.title {
  height: 20px;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}

#friends {
  height: 180px;
  width: 138px;
  padding: 5px;
}

.friend-row {
  height: 250px;
  padding: 40px;
}

.friend-row .name {
  height: 250px;
  margin-right:30px;
  font-weight: bolder;
}
.friend-row .event {
  height: 250px;
  padding: 20px; 
}
#arrow {
  height: 20px;
  width: 20px
  float: right;
  margin-left: 15px;
}

.home-but {
  margin-top: 10px;
  height: 30px;
  margin-right: 50px;
  float: right;
}

.price {
  display: center;
}